@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

.roboto-normal-font {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}

body {
    max-width: 1440px;
    border: 2px solid coral;
}

/* display fles section */
.navigation-bar ul,
.nav-container {
    display: flex;
}

/* share style satrts */
.share-button {
    font-size: 16px;
    font-weight: 500px;
    color: #FFFFFF;
    line-height: 24px;
    border-radius: 6px;
    background-color: rgba(255, 128, 99, 1);
    padding: 18px 56px;
    border: none;
    margin-bottom: 40px;
}


/* Navigation bar start */

.nav-container {
    justify-content: center;
    padding: 38px 255px 74px 135px;

    gap: 100px;
    margin: 0 auto;
}

.navigation-bar ul {
    display: flex;
    gap: 40px;
    justify-content: end;
}

.navigation-bar ul li {
    list-style: none;
}

.navigation-bar ul li a {
    text-decoration: none;
    gap: 40px;
    font-size: 16px;
    font-weight: 500px;
    color: #3C3C3C;
    line-height: 24px;

}

.nav-subcontainer-1 h1 {
    font-size: 80px;
    font-weight: 400px;
    color: #363958;
}

.nav-subcontainer-1 h1 span {
    color: #FF8367;
}

.nav-subcontainer-description {
    font-size: 16px;
    font-weight: 400px;
    line-height: 24px;
    color: #3E3E3E;
    margin-top: 0px;
}

.nav-image-1 {
    width: 476px;
    height: 584px;
    margin-top: 42px;
}

.nav-image-2 {
    width: 465px;
    height: 613px;
}

.nav-subcontainer-2 h3 {
    font-size: 48px;
    font-weight: 400px;
    color: #363958;
    margin-top: 90px;
}

.container-nav {
    margin-left: 80px;
}

.nav-subcontainer-2 button {
    padding-top: 18px;
    padding-right: 17px;
    padding-left: 57px;
    padding-bottom: 18px;
    margin-top: 24px;
}